<h2 class="text-center"><b>曲出し一覧</b></h2>

<div class="container">
  <div class="row">
    <div class="col-8 text-center mx-auto p-5">
      <table class="table table-hover table-bordered table-condensed">
        <thead>
          <tr class="text-light bg-dark">
            <th>ニックネーム</th>
            <th>バンド名</th>
            <th>曲①</th>
            <th>曲②</th>
          </tr>
        </thead>
        <tbody>
          <% @musics.each do |music| %>
            <tr class="bg-light">
              <td class="col-auto">
                <%= link_to music_path(music) do %>
                  <%= music.user.nickname %>
                <% end %>
              </td>
              <td class="col-auto">
                <% if music.status == false %>
                  <%= music.band_name %>
                <% else %>
                  当日お楽しみに！
                <% end %>
              </td>
              <td class="col-auto">
                <% if music.status == false %>
                  <%= music.song1_name %>
                <% else %>
                  当日お楽しみに！
                <% end %>
              </td>
              <td class="col-auto">
                <% if music.status == false %>
                  <%= music.song2_name %>
                <% else %>
                  当日お楽しみに！
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>