<h2 class="head-line text-center p-5">
  次回ライブ　<b><%= @admin.event_date.strftime("%m/%d") %></b>　<%= @admin.start_time.strftime("%H:%M") %>〜<%= @admin.finish_time.strftime("%H:%M") %><br/>
  <br/>
  曲出し期限は　<b><%= @admin.deadline.strftime("%m/%d") %></b>　です！
</h2>

<div class="text-center p-5">
  <% if current_user.present? %>
    <%= link_to bands_path, class: "btn btn-lg bg-dark rounded-pill text-info mr-5" do %>
      <b>①バンド登録</b>
    <% end %>
    <%= link_to new_music_path, class: "btn btn-lg bg-dark rounded-pill text-info" do %>
      <b>　②曲出し　</b>
    <% end %>
  <% else %>
    <h4 class="text-primary">曲出しの際に <b>新規登録/ログイン</b> をお願いします。</h4>
    <%= link_to new_user_registration_path, class: "btn btn-lg bg-dark rounded-pill text-info mt-4" do %>
      <i class="fa-solid fa-user-plus"></i> 新規登録
    <% end %>
    <%= link_to new_user_session_path, class: "btn btn-lg bg-dark rounded-pill text-success mt-4" do %>
      <i class="fa-solid fa-right-to-bracket"></i> ログイン
    <% end %>
  <% end %>
</div>