<h1 class="head-line title_h2 text-center p-5">
  次回のライブは　<b><%= @admin.event_date.strftime("%m/%d") %></b>　です！<br/>
  <br/>
  <b><%= @admin.deadline.strftime("%m/%d") %></b>　までに曲出しをお願いいたします！
</h1>

<div class="text-center p-5">
  <% if current_user.present? %>
    <%= link_to bands_path, class: "btn btn-lg bg-dark rounded-pill text-info mr-5" do %>
      <b>①バンド登録</b>
    <% end %>
    <%= link_to new_music_path, class: "btn btn-lg bg-dark rounded-pill text-info" do %>
      <b>②曲出し</b>
    <% end %>
  <% else %>
    <h4 class="text-primary">曲出しをするには <b>新規登録/ログイン</b> をお願いします。</h4>
    <%= link_to new_user_registration_path, class: "btn btn-lg bg-dark rounded-pill text-info mt-4" do %>
      <i class="fa-solid fa-user-plus"></i> 新規登録
    <% end %>
    <%= link_to new_user_session_path, class: "btn btn-lg bg-dark rounded-pill text-success mt-4" do %>
      <i class="fa-solid fa-right-to-bracket"></i> ログイン
    <% end %>
  <% end %>
</div>