<%= render 'layouts/error_messages', model: @band %>
<div class="container">
  <div class="row">
  	<div class="col-7 mx-auto pt-3">
  	  <h2 class="text-center p-3"><b>バンド情報編集</b></h2>
  	  <%= form_with model: @band, url: band_path, method: :patch do |f| %>
  	    <div class="form-group col-12 p-1">
  	      <%= f.label :"バンド名", class: "col-5" %>
  	  	  <%= f.text_field :band_name %>
  			</div>
  			<div class="form-group col-12 p-1">
          <%= f.label :"マイク本数", class: "col-5" %>
          <%= f.select :mike_number , [ [1,1], [2, 2], [3, 3 ] ,[4, 4], [5, 5] ], prompt: "マイクの使用本数" %>
        </div>
        <div class="form-group col-12 p-1">
  	      <%= f.label :"備考", class: "col-5" %>
  	  	  <%= f.text_area :other %>
  			</div>

  			<div class="actions text-center p-3">
  	  	  <%= f.submit "編集内容を登録", class: "btn btn-lg bg-dark rounded-pill text-info" %>
  			</div>
  		<% end %>
    </div>
  </div>
</div>