<%= render 'layouts/error_messages', model: @band %>
<div class="container">
  <div class="row">
  	<div class="col-7 mx-auto p-5">
  	  <h2 class="text-center p-3"><b>バンド登録</b></h2>
  	  <%= form_with model: @band, url: admin_bands_path, method: :post do |f| %>
  	    <div class="form-group col-12 p-1">
  	      <%= f.label :"バンド名", class: "col-5" %>
  	  	  <%= f.text_field :band_name %>
  			</div>
  			<div class="form-group col-12 p-1">
          <%= f.label :"使用マイク本数", class: "col-5" %>
          <%= f.select :mike_number , [ [1,1], [2, 2], [3, 3 ] ,[4, 4], [5, 5] ], prompt: "マイクの使用本数" %>
        </div>
        <div class="form-group col-12 p-1">
  	      <%= f.label :"備考", class: "col-5" %>
  	  	  <%= f.text_area :other %>
  			</div>

  			<div class="actions text-center p-3">
  	  	  <%= f.submit "バンドを登録", class: "btn btn-lg bg-dark rounded-pill text-info" %>
  			</div>
  		<% end %>
  	</div>
  	<div class="col-5 mx-auto p-5">
  	  <h2 class="text-center p-3"><b>バンド一覧</b></h2>
  	  <table class="table table-hover table-bordered table-condensed text-center">
        <thead>
          <tr class="text-light bg-dark">
            <th>バンド名</th>
            <th>メンバー数</th>
          </tr>
        </thead>
        <tbody>
          <% @bands.each do |band| %>
            <tr class="bg-light">
              <td class="col-auto">
                <%= link_to admin_band_path(band) do %>
                  <%= band.band_name %>
                <% end %>
              </td>
              <td class="col-auto">
                <i class="fa-solid fa-users"></i>　<%= band.members.count %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  	</div>
  </div>
</div>