<h2 class="text-center"><b>曲出し一覧</b></h2>

<div class="container">
  <div class="row">
    <div class="col-12 text-center mx-auto p-5">
      <table class="table table-hover table-bordered table-condensed">
        <thead>
          <tr class="text-light bg-dark">
            <th>ユーザー</th>
            <th>バンド名</th>
            <th>曲名</th>
            <th>曲時間</th>
          </tr>
        </thead>
        <tbody>
          <% @musics.each do |music| %>
            <tr class="bg-light">
              <td class="col-auto">
                <%= link_to admin_music_path(music) do %>
                  <%= music.user.nickname %>
                <% end %>
              </td>
              <td class="col-auto">
                <%= music.band.band_name %>
              </td>
              <td class="col-auto">
                <%= music.music_name %>
              </td>
              <td class="col-auto">
                <%= music.music_time %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>