<h1 class="head-line title_h2 text-center pt-5"><b>タイムテーブル</b></h1>
<h3 class="head-line title_h2 text-center pt-3"><b>開始/終了 <%= @admin.start_time.strftime("%H:%M") %>〜<%= @admin.finish_time.strftime("%H:%M") %>　転換時間 <%= @admin.conversion_time %>分</b></h3>
<div class="container">
  <div class="row">
    <div class="col-12 text-center mx-auto pt-4">
      <table class="table table-hover table-bordered table-condensed text-center">
        <thead>
          <tr class="text-light bg-dark">
            <th>バンド名</th>
            <th>メンバー数</th>
            <th>バンド持ち時間</th>
            <th>タイムスケジュール</th>
            <th>並び替え</th>
          </tr>
        </thead>
        <tbody>
          <% @over_time = 0 %>
          <% @bands.each_with_index do |band, idx| %>
            <tr class="bg-light">
              <td class="col-auto">
                <%= link_to admin_band_path(band) do %>
                  <%= band.band_name %>
                <% end %>
              </td>

              <td class="col-auto">
                <i class="fa-solid fa-users"></i>　<%= band.members.count %>
              </td>

              <td class="col-auto">
                <%= (band.musics.sum(:music_time).to_i/5+1)*5 %>
              </td>

              <td class="timetable col-auto">
                <% require "active_support/time" %>
                <% target_band_time = ((Band.find_by(linenumber: idx + 1).musics.sum(:music_time).to_i/5+1)*5)*60 %>
                <b><%= (@admintime + @over_time).strftime("%H:%M") %> ~ <%= (@admintime + @over_time + target_band_time).strftime("%H:%M") %></b>
                <% @over_time = @over_time + target_band_time + @conversion_time %>
              </td>

               <td class="col-auto">
                <%= link_to change_up_admin_band_path(band), method: :patch do %>
                  <i class="fa-solid fa-circle-up"></i>
                <% end %>
                 |
                <%= link_to change_down_admin_band_path(band), method: :patch do %>
                  <i class="fa-solid fa-circle-down"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  	</div>
  </div>
</div>

