<!DOCTYPE html>
<html>
  <head>
    <title>Kyokudashi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/375332867e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
  </head>

  <body>
    <header>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5 pt-3 pb-3 shadow">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-brand text-light ml-4">
          <% if admin_signed_in? %>
            <%= link_to admin_top_path do %>
              <%= image_tag 'logo.png', :size =>'60x50' %>
            <% end %>
          <% else %>
            <%= link_to root_path do %>
              <%= image_tag 'logo.png', :size =>'60x50' %>
            <% end %>
          <% end %>
        </div>

        <div class="navbar-brand text-light ml-5">
          <% if admin_signed_in? %>
            <p>管理者アカウント</p>
          <% elsif current_user.present? %>
            <p>こんにちは、<%= current_user.name %>さん！</p>
          <% else %>
            <p>こんにちは、ゲストさん！</p>
          <% end %>
        </div>

        <div class="collapse navbar-collapse">

          <ul class="navbar-nav ml-auto mr-auto">
            <li class="nav-item active mr-3">
              <% if current_user.present? %>
                <%= link_to user_path(current_user.id) do %>
                  <i class="fa-solid fa-user"></i> マイページ
                <% end %>
              <% else %>
              <% end %>
            </li>

            <li class="nav-item active mr-5">
              <% if current_user.present? %>
                <% if current_user.musics.exists? %>
                  <% @music = Music.where(user_id: current_user.id) %>
                  <% @music.each do |music| %>
                    <%= link_to music_path(music.id) do %>
                      <i class="fa-solid fa-music"></i> マイ曲出し
                    <% end %>
                  <% end %>
                <% else %>
                  <%= link_to new_music_path do %>
                    <i class="fa-solid fa-music"></i> 曲出し
                  <% end %>
                <% end %>
              <% else %>
              <% end %>
            </li>

            <% if admin_signed_in? %>
              <li class="nav-item active mr-3">
                <%= link_to admin_musics_path do %>
                  <i class="fa-solid fa-headphones"></i> 曲出し一覧
                <% end %>
              </li>
              <li class="nav-item active mr-3">
                <%= link_to admin_users_path do %>
                  <i class="fa-solid fa-people-group"></i> ユーザー一覧
                <% end %>
              </li>
            <% else %>
              <li class="nav-item active mr-3">
                <%= link_to musics_path do %>
                  <i class="fa-solid fa-headphones"></i> 曲出し一覧
                <% end %>
              </li>
              <li class="nav-item active mr-3">
                <%= link_to users_path do %>
                  <i class="fa-solid fa-people-group"></i> ユーザー一覧
                <% end %>
              </li>
            <% end %>
          </ul>

          <ul class="navbar-nav ml-auto">
            <% if admin_signed_in? %>
              <%= link_to destroy_user_session_path, method: :delete, class: 'btn rounded-pill btn-outline-light text-danger' do %>
                <i class="fa-solid fa-right-from-bracket"></i> LOGOUT
              <% end %>
            <% elsif user_signed_in? %>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete, class: 'btn rounded-pill btn-outline-light text-danger' do %>
                  <i class="fa-solid fa-right-from-bracket"></i> LOGOUT
                <% end %>
              </li>
            <% else %>
              <li class="nav-item mr-3">
                <%= link_to new_user_registration_path, class: 'btn rounded-pill btn-outline-light text-info' do %>
                  <i class="fa-solid fa-user-plus"></i> SIGN UP
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_session_path, class: 'btn rounded-pill btn-outline-light text-success' do %>
                  <i class="fa-solid fa-right-to-bracket"></i> SIGN IN
                <% end %>
              </li>
            <% end %>
          </ul>

        </div>
      </nav>
    </header>

    <main>
    <%= yield %>
    </main>

    <footer>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-3 pt-3 pb-3">
        <div class="container">
        	<div class="row">
          	<div class="mx-auto text-light">
              <p>利用規約　|　プライバシーポリシー</p>
              <p>Copyright © Infratop Inc. All Rights Reserved.</p>
          	</div>
          </div>
        </div>
      </nav>
    </footer>

  </body>
</html>
